.ui-content{
	padding: 8px;
}
.rcsetile .actions{
	text-align: right;
}
.rcsetile{
	margin: 20px 0;
}
/*.rcsetile{
	background-color: #eee;
	padding: 10px 0;
	margin: 10px 0;
}
*/
.picturefill-wrapper img,
.rcsetile img{max-width: 100%}

/*.rcsetile .vcard {
    position: relative; height: 64px;
    padding-bottom: 5px; border-bottom: 1px solid #ddd;
}
.rcsetile .vcard .photo{float: left; height: 100%; padding-right: 20px;}*/
#viewlet-below-content-body{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dashed #aaa;
}
#popup-globalsections ul[data-role="listview"]{
	margin-top: 15px;
}
/*fix behavior in (event_view)*/
.ui-content .ui-listview, .ui-panel-inner>.ui-listview{
	margin: -10px -10px 0 -10px;
}