.ui-content{
    padding: 8px;
}
.rcsetile .actions{
    text-align: right;
}
.rcsetile{
    margin: 20px 0;
}
/*.rcsetile{
    background-color: #eee;
    padding: 10px 0;
    margin: 10px 0;
}
*/
.picturefill-wrapper img,
.rcsetile img{max-width: 100%}

/*.rcsetile .vcard {
    position: relative; height: 64px;
    padding-bottom: 5px; border-bottom: 1px solid #ddd;
}
.rcsetile .vcard .photo{float: left; height: 100%; padding-right: 20px;}*/
#viewlet-below-content-body{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dashed #aaa;
}
#popup-globalsections ul[data-role="listview"]{
    margin-top: 15px;
}
/*fix behavior in (event_view)*/
.ui-content .ui-listview, .ui-panel-inner>.ui-listview{
    margin: -10px -10px 0 -10px;
}
/*date display in the timeline http://www.wplover.com/1449/easier-date-display-technique-with-css-3/*/
.rcseeventdate {
  position: relative;
  width: 70px;
  font-family: Georgia, serif;
  color: #999;
  margin: 0 auto;
}
 
.rcseeventdate .day, .rcseeventdate .month, .rcseeventdate .year {
  position: absolute;
}

.rcseeventdate .day { 
  font-size: 30px;
  top: 15px;
}

.rcseeventdate .month { 
  top: 0;
  left: 0;  
  font-size: 18px;
}

.rcseeventdate .year { 
  top: 19px;
  right: 0;
  font-size: 20px;
  rotation: -90deg !important;
  /* ** Hacks ** */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);  
}






/* HEADER */
.ui-icon:not(.ui-icon-loading){
  background:none !important;
}
.ui-header h1 img{
  position:absolute;
  top:0;
  margin-left:-30px; /* hack to center img(60x60) */
  max-width: 60px;
  max-height: 60px;
  width: auto;
  height: auto;
  -moz-box-shadow: 0px 1px 3px #000000;
  -webkit-box-shadow: 0px 1px 3px #000000;
  box-shadow: 0px 1px 3px #000000;
}
.ui-header a[data-role="button"]{
  margin-right:10px !important;
}
.ui-header [class*="ui-icon-"]:before{
  font-size:150% !important;
}
.ui-header .ui-controlgroup-horizontal .ui-btn{
  border-right-width: 1px;
}

.ui-header .ui-controlgroup .ui-btn-corner-all{
  -webkit-border-radius:0.3em;
  border-radius:0.3em;
  margin-top:3px;
}
/*.ui-header .ui-btn-left a[href="#panel-left"],
.ui-header .ui-btn-right a[href="#panel-right"]{
  background:none !important;
  border:none !important;
}*/
.ui-btn-left .ui-btn-up-a,
.ui-btn-left .ui-btn-hover-a,
.ui-btn-left .ui-btn-down-a,
.ui-btn-right .ui-btn-up-a,
.ui-btn-right .ui-btn-hover-a,
.ui-btn-right .ui-btn-down-a{
  background:none !important;
  border:none !important;
}
.ui-header .ui-btn-left a[href="#panel-left"]{
  border: 1px solid #090301 !important;
  background-image: linear-gradient(left top, #492A20 28%, #2C1913 88%)!important;
  background-image: -o-linear-gradient(left top, #492A20 28%, #2C1913 88%)!important;
  background-image: -moz-linear-gradient(left top, #492A20 28%, #2C1913 88%)!important;
  background-image: -webkit-linear-gradient(left top, #492A20 28%, #2C1913 88%)!important;
  background-image: -ms-linear-gradient(left top, #492A20 28%, #2C1913 88%)!important;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0.28, #492A20),
    color-stop(0.88, #2C1913)
  )!important;
}
.ui-header .ui-btn-right a[href="#panel-right"]{
  border: 1px solid #090301 !important;
  background-image: linear-gradient(right top, #492A20 28%, #2C1913 88%)!important;
  background-image: -o-linear-gradient(right top, #492A20 28%, #2C1913 88%)!important;
  background-image: -moz-linear-gradient(right top, #492A20 28%, #2C1913 88%)!important;
  background-image: -webkit-linear-gradient(right top, #492A20 28%, #2C1913 88%)!important;
  background-image: -ms-linear-gradient(right top, #492A20 28%, #2C1913 88%)!important;
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    color-stop(0.28, #492A20),
    color-stop(0.88, #2C1913)
  )!important;
}

/* Arrow */
/* Header Left Arrow */
.ui-header .ui-btn-left a[href="#panel-left"]{
  position: relative;
  background: #492a20;
  border: 1px solid #090301;
}
.ui-header .ui-btn-left a[href="#panel-left"]:after,
.ui-header .ui-btn-left a[href="#panel-left"]:before{
  right: 97%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ui-header .ui-btn-left a[href="#panel-left"]:after{
  border-color: rgba(73, 42, 32, 0);
  border-right-color: #492a20;
  border-width: 14px;
  top: 50%;
  margin-top: -14px;
}
.ui-header .ui-btn-left a[href="#panel-left"]:before{
  border-color: rgba(9, 3, 1, 0);
  border-right-color: #090301;
  border-width: 15px;
  top: 50%;
  margin-top: -15px;
}
/* Header Right Arrow */
.ui-header .ui-btn-right a[href="#panel-right"]{
  position: relative;
  background: #492a20;
  border: 1px solid #090301;
}
.ui-header .ui-btn-right a[href="#panel-right"]:after,
.ui-header .ui-btn-right a[href="#panel-right"]:before{
  left: 97%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ui-header .ui-btn-right a[href="#panel-right"]:after{
  border-color: rgba(73, 42, 32, 0);
  border-left-color: #492a20;
  border-width: 14px;
  top: 50%;
  margin-top: -14px;
}
.ui-header .ui-btn-right a[href="#panel-right"]:before{
  border-color: rgba(9, 3, 1, 0);
  border-left-color: #090301;
  border-width: 15px;
  top: 50%;
  margin-top: -15px;
}
/* Arrow effect end */

.ui-header .ui-btn-left .ui-first-child.ui-btn{
  margin-left:10px;
}
.ui-header .ui-btn-inner{
  border:none !important;
}
.ui-header .ui-btn-up-a,.ui-btn-hover-a,.ui-btn-down-a{
  text-shadow: 0 0 0 #000000;
}
.ui-header ui-focus, .ui-btn:focus{
  box-shadow: 0 0 0 #E8DFD5 inset, 0 0 0 #E8DFD5;
}

/* CONTENT */
.rcsetile{
  background-color:#fff;
  border:1px solid #ddd;
}
/*.ui-collapsible-inset .ui-collapsible-content{
  padding:0px;
}*/
[class*=" ui-icon-"]:before{
  font-size:100% !important;
}
.ui-btn-inner{
  padding: .6em 9px;
}
.ui-btn-icon-left .ui-btn-inner {
  padding-left: 38px;
}
.vcard{
  background:#fff;
  font-family:Arial;
  position: relative;
  min-height:70px;
  border-bottom:1px solid #f2f2f2;
}
.vcard a{
  text-decoration:none;
}
.rcsetile .vcard{
  color:#5c5c5c;
}
.rcsetile .vcard span:before{
  content:"le ";
}
.rcsetile .vcard span:after{
  content:" à ";
}
.vcard .photo{
  float:left;
  height:60px;
  width:auto;
  padding:5px;
  background:#f2f2f2;
  margin-right:10px;
}
.rcsetile .tilecontent{
  padding:0px 5px;
}
.rcsetile .ui-controlgroup-controls{
  padding-right:10px;
}
/* a fix *//*.ui-content .ui-listview, .ui-panel-inner>.ui-listview {
  margin:0px;
}*/
textarea,input,div.ui-input-text,.contenteditable,.commentBody,div#content div#content,ul.contentViews{
  background:#fff !important;
  box-shadow:none;
}
div#content div#content,
div#content > div{
  padding:5px;
}
/* User directory */
.directory-wrapper{
/*  background:#fff;
  padding:10px;*/
}
span.ui-btn-inner{
  height:22px;
  min-width:0px;
}
#popup-globalsections ul[data-role="listview"]{
  margin-top:0px;
}
.ui-listview-filter-inset{
  margin: 0px;
}

/* transcode.* */

div.videobar {
    position: relative;
    height:29px;
    background: url('++resource++collective.transcode.images/gradient_light.png') repeat-x scroll 0 0 #333333 !important
}

div.videobar span {
    padding: 5px 10px;
    border-left: 1px solid #666666 !important;
    position: relative;
    top: 6px;
}

div.videobar a {
    color: #FFFFFF;
    font-size: 13px;
}

div.videobar a:hover span{
    background: none repeat scroll 0 0 #333333 !important;
    text-decoration: underline;
    color: #FFFFFF !important;
}
div.hi-lo:hover{
    cursor: pointer;
}

div.download, div.hi-lo {
    float:right;
    height:29px;
    z-index: 1000;
}


/* @group media_view images_view pinterest like */

.pinboard {
    width: 90%;
    max-width: 1100px;
/*    min-width: 800px;*/
    margin: 50px auto;
}

.pincolumns {
    -webkit-column-count: 1;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
}

.pin {
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;
    
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.pin img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.pin p {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}
@media (min-width: 380px){
    .pincolumns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .pincolumns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .pincolumns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .pincolumns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }

}

/* @group */
